html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    width: 100%;
    height: 100%,
}

.icecream-search-sec, .media-imgs, .search-section,
.a-z-recipes-section, nav, .choco-fugde-recipe, 
.types-of-cakes-a, .carrots-cake-bites {
    display: flex;
}

.icecream-spoone {
    width: 300px;
    height: 150px;
}

.icecream-spoone, .icecream-three-cups, .carrot-cake-wp{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icecream-spoone {
    background-image: url(../assets/shutterstock_261107618.jpg);
}

.search-area {
    position: relative;
}

.search-area img {
    height: 20px;
    width: auto;
    position: absolute;
    padding: 3px 0 0 10px;
}

.search-section {
    background-color: #a76e63;
    padding-top: 15px;
    width: 300px;
    height: 135px;
}

.search-section input {
    height: 30px;
    background-color: #a76e63;
    border: none;
    padding-left: 35px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.media-imgs, nav {
    justify-content: space-around;
}

.a-z-recipes-section, .choco-fugde-recipe {
    justify-content: space-between;
}

.media-imgs div  {
    width: 20px;
    height: 15px;
}

.media-icons, .media-imgs, .imgs {
    width: 100%;
    height: auto;
}

.sweet-banner {
    font-family: 'Merriweather', serif;
    color:#4f5666;
    font-size: 130px;
    font-weight: none;
    padding-left: 40px;
    width: 500px;
    position: absolute;
    top: 150px;
}

.a-z-recipes-section {
    font-family: 'Merriweather', serif;
    color:#4f5666;
    width: 70%;
    margin-top: 60px;
} 

.a-z-recipes-section div {
    padding-left: 30px;
}

.a-z-recipes-section div:nth-child(1) {
    font-size: 100px;
}

.recipes-text {
    font-family: 'Dancing Script', cursive;
    font-size:  60px;
    text-align: center;
    padding-top: 30px;
}

.a-z-texts {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    width: 100px;
}

.icecream-three-cups {
    background-image: url(../assets/shutterstock_584691958.jpg);
    background-position: top left;
    width: 100%;
}

nav {
    position: absolute;
    left: 70%;
    width: 400px;
    top: 30px;
    height: 40px;
}

nav a, .carrot-cake-wp, .choco-fugde-recipe, .raspberry-cake h1, 
.raspberry-cake p, .raspberry-cake div, .carrots-cake-bites h1, .carrots-cake-bites div:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    color:#4f5666;
    text-decoration: none;
    font-weight: bolder;
}

nav div {
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
}

.types-of-cakes-a {
    width: 800px;
    position: relative;
}

.carrot-cake-wp {
    background-image: url(../assets/shutterstock_240942928.jpg);
    width: 400px;
    height: 250px;
    margin-top: 40px;
    padding-top: 20px;
}

.carrot-cake-wp h2, .carrot-cake-wp h4, .choco-fugde-recipe h1,
.choco-fugde-recipe h5, .raspberry-cake h1, .raspberry-cake p, 
.raspberry-cake div, .carrots-cake-bites h1, .carrots-cake-bites div:nth-child(2) {
    color: white;
    margin: 0;
    padding-left: 30px;
    font-size: 15px;
}

.carrot-cake-wp h4 {
    font-size: 10px;
    padding-top: 20px;
}

.choco-fugde-recipe {
    background-color: #c6ada6;
    width: 250px;
    height: 400px;
    flex-direction: column;
}

.choco-fugde-recipe h1:nth-child(1) {
    padding-top: 15px;
}

.choco-fugde-recipe h1, .carrots-cake-bites h1 {
    font-size: 25px;
}

.choco-fugde-recipe h5 {
    margin-top: 50px;
    font-size: 10px;
    letter-spacing: 2px;
}

.choco-fugde {
    height: 150px;
    width: 200px;
}

.raspberry-cake {
    height: 250px;
    width: 150px;
    background-color: #a76e63;
    color: white;
    padding-top: 20px;
}

.raspberry-cake p {
    padding: 30px 0 50px 10px;
}

.raspberry-cake h1, .raspberry-cake div {
    padding-left: 10px;
}

.raspberry-cake div {
    padding-top: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}

.carrots-cake-bites {
    background-color: #dcdbe1;
    width: 700px;
    height: 130px;
    position: absolute;
    bottom: 0%;
    left: 250px;
}

.carrots-cake-bites h1, .carrots-cake-bites div:nth-child(2){
    color: #4f5666;
}

.carrots-cake-bites div:nth-child(2) {
    width: 300px;
}

.carrots-cake-bites-a {
    padding-top: 15px;
}